spring:
  application:
    name: adocaopet

  datasource:
    url: jdbc:mysql://172.19.0.2:3306/adocaopet
    username: cassio
    password: root123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

server:
  port: 8080
